.backgroundColor{
    background-color:bisque;
}

.removeDec{
    text-decoration:none;
    color: grey;
}

.flexMe{
display: flex;
justify-content: space-evenly;
}

.promptBorder{
    border: 3px solid;
    border-radius: 10px;
    padding: 2%;
    background-color: blanchedalmond;
    margin: 2%;
}

.centerText{
    text-align: center;
}

.buttonSize{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.buttonSize:hover{
    background-color: dodgerblue;
}
.container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}
#happyKid{
    width: 400px;
}
#homeHungry{
    width: 400px;
    height: 240px;
}
#drake{
    width: 400px;
    height: 240px;
}
#soulja{
    width: 400px;
    height: 240px;
}

#guyDriving{
    width: 80%;
    height: 525px;
}
#guyLlama{
    width: 80%;
    height: 500px;
}
div img{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: wrap;
}